body {
    background-color: #393E46;
    position: relative;
    margin-bottom: 10px;
}

.container{
    text-align: center;
}

.dice{
    display: inline-block;
}

footer {
    margin-top: 5%;
    text-align: center;
    color:white;
    font-family: 'Indie Flower';
    letter-spacing: 2px;

}

h1 {
    margin: 30px;
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 6rem;
    color: #4ECCA3;
  }

.btn{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 25px;
    font-family: 'Indie Flower', cursive;
  }

.btn:active{
    background-color: blanchedalmond;
}

.btn-container{
    margin-top: 2rem;
    text-align: center;
}

.dice p {
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}

img{
    width: 80%;
}



